<div class="header fixed-top">

  <nav class="navbar navbar-expand-lg r_nav">
  <a class="navbar-brand logo imhed" href="#"><img src="/assets/img/logo-w.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nv">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><img src="/assets/img/dashboard-ico.png"> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/crud" [routerLinkActive] ="'active'" [routerLinkActiveOptions]="{exact: true}"><img src="/assets/img/catelog-ico.png">  Form</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <img src="/assets/img/catelog-ico.png">  Cotalog
        </a>
        <ul class="dropdown-menu m100 bgsals" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#"><img src="/assets/img/orders-ico.png"> Orders</a></li>
          <li><a class="dropdown-item" href="#"><img src="/assets/img/payments-ico.png"> Payments</a></li>
          <li><a class="dropdown-item" href="#"><img src="/assets/img/shipping-ico.png"> Shipping</a></li>
          <li><a class="dropdown-item" href="#"><img src="/assets/img/invoices-ico.png"> Invoices</a></li>
        </ul>
      </li>
       <li class="nav-item"><a class="nav-link" href="#"><img src="/assets/img/customers-ico.png">  Customers </a></li>
     <li class="nav-item"><a class="nav-link" href="#"><img src="/assets/img/vendors-ico.png"> Vendors</a></li>
     <li class="nav-item"><a class="nav-link" href="#"><img src="/assets/img/cms-ico.png">  CMS </a></li>
          <li class="nav-item"><a class="nav-link" href="#"><img src="/assets/img/reports-ico.png"> Reports </a></li>
    </ul>
    <ul class="navbar-nav mr-auto nv_lgn">
       <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-cog"></i></a></li>
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><span class="usrne"><img src="/assets/img/user.png"></span> sivakumar</a>
            <ul class="dropdown-menu tp120">
              <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa fa-unlock"></i> Change Password</a></li>
              <li><a class="dropdown-item" (click) = "logOut()"><i class="fa fa-sign-out"></i> Logout</a></li>

            </ul>
          </li>
    </ul>
  
  </div>
</nav>

</div>