<app-header></app-header>
<div class="Dashboard_mn">
	<div class="container-fluid">

		<h1>CRUD App <a routerLink="/add" class="float-right">Add Employee</a> </h1>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone No</th>
        <th>Email ID</th>
        <th>Emp ID</th>
        <th>Company</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of fullData; index as i">
        <td>{{i+1}}</td>
        <td>{{list.name}}</td>
        <td>{{list.phone}}</td>
        <td>{{list.email}}</td>
        <td>{{list.emp_id}}</td>
        <td>{{list.company}}</td>
        <td>{{list.location}}</td>
        <td><a class="btn btn-sm btn-info" [routerLink]="['/edit']" [queryParams]="{id : list.id}">Edit</a>&nbsp; | &nbsp;
        	<button value="1" class="btn btn-sm btn-danger" (click)="deleteClick(list.id)" id="k{{list.id}}" >Delete <i id="{{list.id}}" class="fa fa-spinner fa-spin" style="display: none;"></i></button></td>
        
      </tr>
      
    </tbody>
  </table>

</div>
</div>