<app-header></app-header>
<!-- INNER START HERE -->
<div class="Dashboard_mn">
	<div class="container-fluid">

		<h1>Overview Dashboard</h1>

		<!--orderstart start here --> 
		<div class="card pd20">
			<div class="row">
				<div class="col-md-3 bdr2">
					<div class="row">
						<div class="col-md-5">
							<div class="imgor hvr"><img src="/assets/img/Order.fw.png"> </div>
						</div>
						<div class="col-md-4">
							<div class="cntnt"><h4>Order <span>99</span></h4></div>
						</div> 
					</div> 
				</div> 
				<div class="col-md-3 bdr2">
					<div class="row">
						<div class="col-md-5">
							<div class="imgor hvr"><img src="/assets/img/Payments.fw.png"> </div>
						</div>
						<div class="col-md-4">
							<div class="cntnt"><h4>Payments <span>0</span></h4></div>
						</div> 
					</div>
				</div>
				<div class="col-md-3 bdr2">
					<div class="row">
						<div class="col-md-5">
							<div class="imgor hvr"><img src="/assets/img/product.fw.png"> </div>
						</div>
						<div class="col-md-4">
							<div class="cntnt"><h4>Products <span>203</span></h4></div>
						</div> 
					</div>
				</div>
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-5">
							<div class="imgor hvr"><img src="/assets/img/Customers.fw.png"> </div>
						</div>
						<div class="col-md-4">
							<div class="cntnt"><h4>Customers <span>155</span></h4></div>
						</div> 
					</div> 
				</div> 
			</div>
		</div>
		<!--orderstart end here --> 

		<!--Selling Products start here --> 

		<div class="card pdtb20">
			<div class="row">
			<div class="col-md-12 p-0">
			<h3 class="til">Top Selling Products</h3>
		</div>
			<div class="col-md-3">
				<div class="bxm">
					<div class="bxm_n">
						<p><img src="/assets/img/p1.jpg"></p>  
						<p>Sony DSC W830 Cyber-shot 20.1 MP Point and Shoot Camera</p>  
						<h3>$70,000.00</h3>
					</div>
					<p><a href="#" class="bgvew1">View Product</a></p>
				</div>  
			</div>  
			<div class="col-md-3">
				<div class="bxm">
					<div class="bxm_n">
						<p><img src="/assets/img/p2.jpg"></p>  
						<p>Sony DSC W830 Cyber-shot 20.1 MP Point and Shoot Camera</p>  
						<h3>$70,000.00</h3>
					</div>
					<p><a href="#" class="bgvew2">View Product</a></p>
				</div>  
			</div>
			<div class="col-md-3">
				<div class="bxm">
					<div class="bxm_n">
						<p><img src="/assets/img/p3.jpg"></p>  
						<p>Sony DSC W830 Cyber-shot 20.1 MP Point and Shoot Camera</p>  
						<h3>$70,000.00</h3>
					</div>
					<p><a href="#" class="bgvew3">View Product</a></p>
				</div>  
			</div>
			<div class="col-md-3">
				<div class="bxm">
					<div class="bxm_n">
						<p><img src="/assets/img/p4.jpg"></p>  
						<p>Sony DSC W830 Cyber-shot 20.1 MP Point and Shoot Camera</p>  
						<h3>$70,000.00</h3>
					</div>
					<p><a href="#" class="bgvew4">View Product</a></p>
				</div>  
			</div>
		</div>
		</div>

		<!--Selling Products end here -->
	</div>
</div>
<!-- INNER END HERE -->
